---
import { type CollectionEntry, getCollection } from 'astro:content';
import Blog from '../../layouts/Blog.astro'

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => {
    const { slug } = post;

    return {
      params: { slug },
      props: post,
    };
  });
}
type Props = CollectionEntry<'blog'>;
const post: Props = Astro.props;
const { Content } = await post.render();
---

<Blog post={post}>
  {post.data.draft ? <p class="text-gray-500">This post is still being written...</p> : <Content/>}
</Blog>
