---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';
import Navbar from '../components/Navbar.astro';

const posts = (await getCollection('blog')).sort((a: any, b: any) => a.data.published.valueOf() - b.data.published.valueOf());
---

<!-- https://cv.jarocki.me/ -->

<Layout>
  <Navbar/>
  <main class="flex flex-col gap-y-8">
    <div class="flex flex-col gap-2">
      <h1 class="text-lg font-semibold">Work Experience</h1>
      <ul>
        <li>
          <div class="flex justify-between">
            <p class="font-semibold">HigherGround</p>
            <p class="text-gray-500">July 2023 → Now</p>
          </div>
          <p class="">Software Engineer</p>
          <p class="text-gray-500 text-sm">Maintain and implement new features for Android application that powers the SatPaq: the world's most compact, easy-to-use, and secure satellite communicator.</p>
        </li>
      </ul>
    </div>
    <div class="flex flex-col gap-2">
      <h1 class="text-lg font-semibold">Blog</h1>
      {posts ? posts.map((post: any) => (
        <BlogPostPreview title={post.data.title} description={post.data.description} slug={post.slug} published={post.data.published}/>
      )) : <p class="text-gray-600">Coming soon</p>}
    </div>
  </main>
</Layout>
