---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogPostPreview from '../components/previews/BlogPostPreview.astro';

const posts = (await getCollection('blog')).sort((a: any, b: any) => a.data.published.valueOf() - b.data.published.valueOf());
---

<Layout>
  <nav class="flex justify-between py-6">
    <a href="/" class="font-bold text-3xl">Hi, I'm Tamir</a>
  </nav>
  <main class="flex flex-col gap-y-8">
    <div class="flex flex-col gap-2">
      <h1 class="text-lg font-semibold">Today</h1>
      <p>{`I am a Software Engineer at`} <span class="underline hover:text-blue-600 transition ease hover:cursor-pointer"><a href="https://www.higherground.earth" target="_blank">{`HigherGround LLC`}</a></span>{`. I work on a small team that maintains and develops new software for the world's most compact, easy-to-use, and secure satellite communicator.`}</p>
    </div>
    <div class="flex flex-col gap-2">
      <h1 class="text-lg font-semibold">Blog</h1>
      {posts ? posts.map((post: any) => (
        <BlogPostPreview title={post.data.title} description={post.data.description} slug={post.slug} published={post.data.published}/>
      )) : <p class="text-gray-600">Coming soon</p>}
    </div>
  </main>
</Layout>
