---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import BlogPostPreview from '../components/BlogPostPreview.astro';

const posts = (await getCollection('blog')).sort((a: any, b: any) => a.data.published.valueOf() - b.data.published.valueOf());
---

<Layout>
  <main class="flex flex-col gap-y-10">
    <!-- <div>
      <h2>{`I am a Software Engineer at`} <a href="https://higherground.earth" target="_blank" class="hover:text-blue-600 hover:cursor-pointer transition ease underline">{`HigherGround`}</a>{`, a company that created the most compact, easy-to-use, and secure satellite communication device.`}</h2>
    </div> -->
    <div>
      <h1 class="text-lg font-semibold">About</h1>
      <p class="text-gray-500">who am i!?</p>
    </div>
    <div>
      <h1 class="text-lg font-semibold">Work Experience</h1>
      <p class="text-gray-500">Coming soon!</p>
    </div>
    <div>
      <h1 class="text-lg font-semibold">Projects</h1>
      <p class="text-gray-500">Coming soon!</p>
    </div>
    <div class="flex flex-col gap-2">
      <h1 class="text-lg font-semibold">Blog</h1>
      {posts ? posts.map((post: any) => (
        <BlogPostPreview title={post.data.title} description={post.data.description} slug={post.slug} published={post.data.published}/>
      )) : <p class="text-gray-600">Coming soon</p>}
    </div>
  </main>
</Layout>
