---
import Section from './Section.astro';
import { getCollection } from 'astro:content';
import BlogPostPreview from '../components/previews/BlogPostPreview.astro';

interface Post {
  data: {
    title: string;
    description: string;
    published: Date;
    updated?: Date;
    draft: boolean;
  };
}

const posts: Array<Post> = (await getCollection('blog'))
  .filter((post) => post.data.draft == false)
  .sort(
    (a: any, b: any) => a.data.published.valueOf() - b.data.published.valueOf()
  );
---

<Section title={`Blog`} href="/blog">
  {
    posts.length > 0 ? (
      posts.map((post: any) => (
        <BlogPostPreview
          title={post.data.title}
          description={post.data.description}
          slug={post.slug}
          published={post.data.published}
        />
      ))
    ) : (
      <p class="text-gray-500">Coming soon!</p>
    )
  }
</Section>
