---
import { Icon } from 'astro-icon/components';
---

<footer class="mt-auto flex flex-col gap-2 py-6">
  <hr class="border-1 border-gray-300 h-2" />
  <div class="flex justify-between items-center">
    <a
      href="/"
      class="text-gray-500 hover:text-blue-500 hover:cursor pointer transition ease"
      >Tamir</a
    >
    <div class="flex justify-end items-center gap-2">
      <a href="http://www.twitter.com/tamirfyi" target="_blank"
        ><Icon
          name="x"
          class="text-gray-500 hover:text-blue-500 transiton ease hover:cursor-pointer"
          style={'height: 1rem; width: 1rem;'}
        /></a
      >
      <a href="http://www.github.com/tamirfyi" target="_blank"
        ><Icon
          name="mdi:github"
          class="text-gray-500 hover:text-blue-500 transiton ease hover:cursor-pointer"
        /></a
      >
      <a href="http://www.linkedin.com/in/whoistamir" target="_blank"
        ><Icon
          name="mdi:linkedin"
          class="text-gray-500 hover:text-blue-500 transiton ease hover:cursor-pointer"
        /></a
      >
    </div>
  </div>
</footer>
