---
const useImage = true;
const imagePath = '/pf.jpeg';
const fallbackName = 'Tamir';
---

<div class="flex justify-between py-10">
  {
    useImage ? (
      <a href="/">
        <img src={imagePath} class="rounded-full w-16 h-16" />
      </a>
    ) : (
      <p class="text-3xl font-bold">{fallbackName}</p>
    )
  }
</div>
