---
interface Props {
  title: string;
  href?: string;
}

const { title, href } = Astro.props;
---

<div class="flex flex-col gap-2">
  {
    href ? (
      <h1 class="text-lg font-semibold">
        <a href={href} class="hover:cursor-pointer">
          {title}
        </a>
      </h1>
    ) : (
      <h1 class="text-lg font-semibold">{title}</h1>
    )
  }
  <slot />
</div>
