---
import BaseHead from '../components/BaseHead.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Navbar from '../components/Navbar.astro';
const {post} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head class="">
		<BaseHead title={""} description={""} />
	</head>
  <body class="mx-auto max-w-screen-sm flex flex-col gap-y-6">
    <Navbar/>
    <div>
      <h1 class="text-xl font-semibold">{post.data.title}</h1>
      <FormattedDate date={post.data.published}>
    </div>
    <slot/>
  </body>
</html>
